body {
  font-family: "DM Sans", "sans-serif";
  background: #191919;
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
}
a {
  color: #fff;
}
.container {
  width: 1340px;
}
header {
  display: flex;
  padding: 26px 50px;
  align-items: center;
  justify-content: center;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav {
  display: flex;
  padding: 20px;
}
.nav li {
  margin-right: 20px;
  font-size: 17px;
}
.nav a:hover {
  color: #118da8;
}

/* Header moment higher ⬆️ */
/* Main moment below ⬇️ */

main {
  padding: 40px 70px 0px 70px;
}
.welcome-photo {
  float: left;
  margin-right: 60px;
  margin-bottom: 100px;
}
.promo {
  font-size: 70px;
  margin-top: 300px;
}
.listen-links {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}
.listen-links ul {
  display: flex;
  margin-top: 16px;
}
.listen-links ul li {
  margin-right: 17px;
}
.latest-menu {
  clear: both;
}
.episodes-menu {
  display: flex;
  justify-content: space-between;
  font-size: 64px;
  margin-bottom: 66px;
}
.episodes-button {
  background: #118da8;
  border-radius: 6px;
  padding: 12px 15px 12px 20px;
  border: 0px;
  font-size: 17px;
  font-family: "DM Sans", "sans-serif";
  color: #fff;
  align-self: flex-start;
  line-height: 27px;
}
.episode {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background: #000;
  margin-bottom: 60px;
  border-radius: 32px;
}
.episode-wrapper {
  margin-left: 53px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
}
.tag {
  background: #191919;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 16px;
  align-self: flex-start;
  margin-bottom: 48px;
  margin-top: 7.5px;
  line-height: 27px;
}
.episode-num {
  color: #118da8;
  font-size: 18px;
  margin-bottom: 18px;
}
.episode-header {
  font-size: 64px;
  margin-bottom: 28px;
  line-height: 70.4px;
}
.episode-about {
  color: #ffffffb2;
  font-size: 22px;
  margin-bottom: 18px;
  line-height: 33px;
}

/* Latest episodes ⬆️ */
