body {
  background: #191919;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0;
}
.nav-list {
  display: flex;
}
.nav-list li {
  font-size: 17px;
  line-height: 27px;
  padding: 20px;
}
.nav-list a {
  color: #fff;
}
.nav-list a:hover {
  color: #118da8;
  transition: color 0.1s ease-in;
}

/* Welcome */

.welcome {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.welcome-photo {
  position: relative;
}
.welcome-photo::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url(./img/Welcome/Welcome-Lines.png);
  top: -27px;
  left: -27px;
  width: 68px;
  height: 74px;
}
.welcome-content {
  display: flex;
  flex-direction: column;
  margin: 0px 60px;
}
.welcome-title {
  position: relative;
  font-size: 70px;
  line-height: 88px;
  margin: 294px 0 90px 0;
}
.welcome-title::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url(./img/Welcome/Welcome-Line.png);
  width: 160px;
  height: 104px;
  bottom: -15px;
  left: -2px;
}
.welcome-title span {
  font-size: 75px;
  letter-spacing: 2px;
}
.welcome-title b {
  font-size: 80px;
}
.welcome-listen h4 {
  font-size: 15px;
  line-height: 24px;
}
.listen-list {
  margin-top: 16px;
  display: flex;
  column-gap: 17px;
}

/* Episodes */
